<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h4>{{iotDevice?.DeviceId}}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-body text-center">
          <div class="card-title shadow py-2" style="color:black" [ngClass]="{'cold' : temperature < 20, 'ok' : temperature >= 20 && temperature <= 30, 'hot' : temperature > 30}"><h1>
            <i class="fa"
            [ngClass]="{'fa-thermometer-empty' : temperature < 20, 'fa-thermometer-half' : temperature >= 20 && temperature <= 30, 'fa-thermometer-full' : temperature > 30}">
            </i> {{temperature}}</h1>
          </div>

          <span class="mb-1">
            <button class="btn btn-danger shadow" (click)="raiseTemperature()"><i class="fa fa-angle-up fa-4x"></i></button>
          </span>

          <span class="mb-1">
            <button class="btn btn-primary shadow" (click)="lowerTemperature()"><i class="fa fa-angle-down fa-4x"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div id="area" class="epoch category10" style="width:100%; height:220px;"></div>
    </div>
    <!--
    <div class="col">
      <div class="card mt-2 shadow">
        <div class="card-body text-center">
          {{aX}}:{{aXMax}}
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mt-2 shadow">
        <div class="card-body text-center">
          {{aY}}:{{aYMax}}
        </div>
      </div>
    </div>

      <div class="col">
        <div class="card mt-2 shadow">
          <div class="card-body text-center">
            {{aZ}}:{{aZMax}}
          </div>
        </div>
      </div>
    -->
  </div>
</div>