.container-fluid {
    max-width: 90%;
}

#map {
    height: 100%;
}

.selected {
    background-color: rgba(0, 0, 255, 0.1);
}

.hot {
    color: rgba(255, 0, 0, 1);
}

.ok {
    color: rgba(0, 0, 0, 1);
}

.cold {
    color: rgba(0, 0, 255, 1);
}