<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-6">
      <div id="map"></div>
    </div>
    <div class="col-6">
      <div class="card shadow">
        <div class="card-body">
          <div id="area" class="epoch category10" style="width:100%; height:400px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <h4>
            <span class="card-title">Devices</span>       
          </h4>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let device of deviceList" class="list-group-item" (click)="selectDevice(device)" [class.selected]="device === selectedDevice">
            <div class="row">
              <div class="col text-center"><h5>{{device.DeviceId}}</h5></div>
              <div class="col text-center"><h5 [ngClass]="{'cold' : device.CurrentTemperature < 20, 'ok' : device.CurrentTemperature >= 20 && device.CurrentTemperature <= 30, 'hot' : device.CurrentTemperature > 30}"><i class="fa fa-thermometer-half"></i> {{device.CurrentTemperature}}</h5></div>
              <div class="col text-center"><h5 [ngClass]="{'hot' : device.CurrentSeismicActivity > 10}"><i class="fa fa-certificate"></i> {{device.CurrentSeismicActivity}}</h5></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
